.WelcomeBtn{
margin-bottom: 20px;
background-color: purple;
color: whitesmoke;
font-size: 23px;
border-radius: 35px;
padding: 10px;


}
.Phone{
  margin: 24px;
  rotate: 5deg;
}

.Form {

  padding: 10px;
}

label {
  margin-bottom: 10px;
}

body{
  background-color: lightgoldenrodyellow;
  max-height: 100%;
}
footer{
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}